@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: oklch(0.95 0.05 240);
  --foreground: oklch(1.00 0 0);
  --card: oklch(0.90 0.07 230);
  --card-foreground: var(--foreground);
  --popover: oklch(0.92 0.06 250);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.75 0.15 250); 
  --primary-foreground: var(--foreground);
  --secondary: oklch(0.85 0.10 270); 
  --secondary-foreground: var(--foreground);
  --muted: oklch(0.88 0.05 240);
  --muted-foreground: oklch(0.98 0 0);
  --accent: oklch(0.80 0.20 320);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.70 0.22 20);
  --border: oklch(0.85 0.05 240);
  --input: oklch(0.93 0.04 240);
  --ring: oklch(0.70 0.18 250); 
  --chart-1: oklch(0.75 0.18 250); 
  --chart-2: oklch(0.80 0.12 270); 
  --chart-3: oklch(0.85 0.10 320);
  --chart-4: oklch(0.90 0.08 240);
  --chart-5: oklch(0.70 0.15 200);
  --sidebar: oklch(0.94 0.04 240); 
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: oklch(0.75 0.15 250); 
  --sidebar-primary-foreground: var(--foreground);
  --sidebar-accent: oklch(0.80 0.20 320); 
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: oklch(0.85 0.05 240);
  --sidebar-ring: oklch(0.70 0.18 250);
}

.dark {
  --background: oklch(0.20 0.05 240);
  --foreground: oklch(0.98 0 0);
  --card: oklch(50% 0.12 250);
  --card-foreground: var(--foreground);
  --box-shadow:oklch(18% 0.05 250 / 0.5);
  --popover: oklch(0.30 0.06 250);
  --popover-foreground: var(--foreground);  
  --primary: oklch(0.45 0.15 250);
  --primary-foreground: var(--foreground);
  --secondary: oklch(29.958% 0.08126 268.753);
  --secondary-foreground: var(--foreground);
  --muted: oklch(0.35 0.05 240);
  --muted-foreground: oklch(0.85 0 0);
  --accent: oklch(62.449% 0.08479 230.263);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.50 0.22 20);
  --border: oklch(0.40 0.05 240);
  --input: oklch(0.30 0.04 240);
  --ring: oklch(0.45 0.18 250);
  --chart-1: oklch(0.55 0.18 250);
  --chart-2: oklch(0.60 0.12 270);
  --chart-3: oklch(0.65 0.10 320);
  --chart-4: oklch(0.70 0.08 240);
  --chart-5: oklch(0.50 0.15 200);
  --sidebar: oklch(0.25 0.04 240);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: oklch(0.45 0.15 250);
  --sidebar-primary-foreground: var(--foreground);
  --sidebar-accent: oklch(0.50 0.20 320);
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: oklch(0.40 0.05 240);
  --sidebar-ring: oklch(0.45 0.18 250);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

}
